@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@font-face {
    font-family: 'Geist Sans';
    src: url('/node_modules/@fontsource/geist-sans/files/geist-sans-latin-400-normal.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/node_modules/@fontsource/geist-mono/files/geist-mono-latin-400-normal.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --font-geist-sans: 'Geist Sans', ui-sans-serif, system-ui, sans-serif;
    --font-geist-mono: 'Geist Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

    --color-color-default: #ffffff;
    --color-color-secondary: #f9fafb;

    --color-button-default: #1a1a1a;
    --color-button-hover: #1f1f1f;
    --color-button-active: #292929;

    --color-foreground-primary: #171717;
    --color-foreground-secondary: #666666;

    --text-heading-72: 72px;
    --text-heading-72--font-weight: 600;
    --text-heading-72--line-height: 80px;
    --text-heading-72--letter-spacing: -0.025em;

    --text-heading-64: 64px;
    --text-heading-64--font-weight: 600;
    --text-heading-64--line-height: 72px;
    --text-heading-64--letter-spacing: -0.025em;

    --text-heading-56: 56px;
    --text-heading-56--font-weight: 600;
    --text-heading-56--line-height: 64px;
    --text-heading-56--letter-spacing: -0.025em;

    --text-heading-48: 48px;
    --text-heading-48--font-weight: 600;
    --text-heading-48--line-height: 56px;
    --text-heading-48--letter-spacing: -0.025em;

    --text-heading-40: 40px;
    --text-heading-40--font-weight: 600;
    --text-heading-40--line-height: 48px;
    --text-heading-40--letter-spacing: -0.025em;

    --text-subheading-32: 32px;
    --text-subheading-32--font-weight: 600;
    --text-subheading-32--line-height: 40px;
    --text-subheading-32--letter-spacing: -0.025em;

    --text-subheading-24: 24px;
    --text-subheading-24--font-weight: 600;
    --text-subheading-24--line-height: 32px;
    --text-subheading-24--letter-spacing: -0.025em;

    --text-subheading-20: 20px;
    --text-subheading-20--font-weight: 600;
    --text-subheading-20--line-height: 24px;
    --text-subheading-20--letter-spacing: -0.025em;

    --text-subheading-16: 16px;
    --text-subheading-16--font-weight: 600;
    --text-subheading-16--line-height: 24px;
    --text-subheading-16--letter-spacing: -0.025em;

    --text-button-16: 16px;
    --text-button-16--font-weight: 600;
    --text-button-16--line-height: 24px;
    --text-button-16--letter-spacing: -0.025em;

    --text-button-14: 14px;
    --text-button-14--font-weight: 600;
    --text-button-14--line-height: 20px;
    --text-button-14--letter-spacing: -0.025em;

    --text-copy-24: 24px;
    --text-copy-24--font-weight: 400;
    --text-copy-24--line-height: 32px;
    --text-copy-24--letter-spacing: 0em;

    --text-copy-20: 20px;
    --text-copy-20--font-weight: 400;
    --text-copy-20--line-height: 24px;
    --text-copy-20--letter-spacing: 0em;

    --text-copy-18: 18px;
    --text-copy-18--font-weight: 400;
    --text-copy-18--line-height: 24px;
    --text-copy-18--letter-spacing: 0em;

    --text-copy-16: 16px;
    --text-copy-16--font-weight: 400;
    --text-copy-16--line-height: 24px;
    --text-copy-16--letter-spacing: 0em;
}

.dark {
    --color-color-default: #0a0a0a;
    --color-color-secondary: #000000;

    --color-button-default: #f2f2f2;
    --color-button-hover: #ebebeb;
    --color-button-active: #e6e6e6;

    --color-foreground-primary: #ededed;
    --color-foreground-secondary: #a0a0a0;
}
